@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

:root{
    --headerBackground:#0e2c13;
    --headerShadow:#001916;
}
body{
    color:#FFFFFF;
    font-family:"Jersey 10","Bahnschrift SemiBold", monospace;
    background-color: black;
    overflow-x:hidden;
}
.hdBG{
    background-color:var(--headerBackground);
    
}
.hdSD{
    border-bottom:3px solid black;
    box-shadow:0 calc((10px + 1vh + 1vw)/2) 0 0 var(--headerShadow);
    margin:0 0 calc((10px + 1vh + 1vw)/2) 0 ;
}
header{
    padding: 1%;
    height:6vw;
}
header img{
    height:100%;
    object-fit:contain;
}
h1{
    font-size:4vw;
}
.ci_scroll{
    animation: ci_scroll 20s linear infinite;
}
.green_text{
    color:#0F0;
}
.apg_scroll{
   animation: apg_scroll 12s linear infinite; 
}
a{
    color:#FFFFFF;
    text-decoration:none;
}
a:hover{
    color:#0F0;
}
section{
    margin:0 0 2.5% 0;
}
.title{
    margin:5% 0 0 0;
}
@keyframes ci_scroll{
    from{
        transform: translateX(0%);
    }
    to{
    transform: translateX(-250%);
    }
}
@keyframes apg_scroll{
    from{
        transform: translateX(0%);
    }
    to{
    transform: translateX(-150%);
    }
}